body {
    background-color: rgb(146, 195, 244);
}

#company_name {
    text-align: center;
    font-size: 30px;
    height: 80px;
    background-color: rgb(18, 130, 242);
}

#section1 {
    display: flex;
}

#left_box {
    float: left;
    width: 25%;
    height: 300px;
    border: solid black 1px;
}

#right_box {
    float: left;
    width: 75%;
    min-height: 700px;
    border: solid black 2px;
}

.vertical-menu {
    text-align: center;
}

.vertical-menu a {
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #0505f5;
    color: white;
}