h2 {
    text-align: center;
}

#forget_pass_link {
    text-align: center;
}

#login_input {
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 17px;
}

#login_button {
    text-align: center;
    margin-top: 20px;
    width: 100%px;
    height: 25px;
}

#quote_form {
    float: left;
    text-align: center;
    width: 48%;
    border: solid black 1px;
    background-color: rgb(154, 250, 159);
    margin: 5px;
    padding: 5px;
}