form {
    width: 90%;
    margin: auto;
    clear: both;
}

form label {
    float: left;
    font-size: 20px;
    clear: both;
}

button {
    width: 120px;
    margin: 5px;
    padding: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: rgb(65, 98, 246);
}

#item {
    width: 100%;
    margin: auto;
    margin-top: 5px;
}

#infor {
    width: 90%;
    text-align: center;
    border: none;
    background-color: #dddddd;
}

#order_id {
    width: 10%;

}

#date {
    width: 15%;
}

#delivery_add {
    width: 35%;
}

#total {
    width: 10%;
}

#detail {
    width: 15%;
}

#order_total {
    margin: auto;
    text-align: center;
    width: 90%;
    border: none;
    background-color: #dddddd;

}

.shop {
    margin: auto;
    margin-top: 20px;
    text-align: center;
    border: solid black 1px;
    width: 150px;
    background-color: rgb(1, 92, 211);
}

ul {
    width: 90%;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    width: 200px;
    background-color: rgb(65, 98, 246);
    margin-left: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #0129a2;
}


table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

th,
td {
    border: 1px solid black;
    text-align: center;
}

th {
    background-color: #dddddd;
}

h3 {
    width: 90%;
    margin: auto;
    padding: 20px;
}