#company_name {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    width: 100%;
    height: 80px;
}

#section1 {
    display: flex;
}

#left_box {
    float: left;
    width: 25%;
    height: 350px;
    border: solid black 1px;
    background-color: lightgray;
}

.vertical-menu {
    /* Set a width if you like */
    text-align: center;
}

.vertical-menu a {
    background-color: #eee;
    /* Grey background color */
    color: black;
    /* Black text color */
    display: block;
    /* Make the links appear below each other */
    padding: 12px;
    /* Add some padding */
    text-decoration: none;
    /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc;
    /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #04AA6D;
    /* Add a green color to the "active/current" link */
    color: white;
}

#input_field {
    width: 600px;
    margin: 15px;
}

#right_box {
    float: left;
    width: 75%;
    border: solid black 1px;
    background-color: lightgray;
}