#company_name {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    height: 80px;
}

#body {
    display: flex;
    width: 100%;
    height: 700px;
}

#leftside_box {
    float: left;
    width: 20%;
}

#center_box {
    float: left;
    text-align: center;
    border: solid black 1px;
    width: 60%;
    height: 600px;
    background-color: darkgray;
}

#rightside_box {
    float: left;
    width: 20%;
}

#label_box {
    float: right;
    width: 10%;
    height: 300px;
    text-align: left;

}

#input_box {
    float: right;
    width: 70%;
    text-align: left;


}

#input_field {
    margin: 15px;
    width: 400px;
}

#submit_button {
    float: right;
    width: 100%;
}