form {
    width: 70%;
    height: auto;
    margin: auto;
    padding: 20px;
}

section {
    clear: both;
}

#label {
    float: left;
    width: 100px;
    padding-right: 15px;
    margin: 5px;

}

#input {
    float: left;
    width: calc(100% - 150px);
}

#date {
    width: 100px;
    height: 20px;
}

#back_button {

    float: left;
    width: 200px;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: rgb(65, 98, 246);
    padding: 15px;
    margin: 25px;
}

button {
    float: right;
    width: 200px;
    margin: 25px;
    padding: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    background-color: rgb(65, 98, 246);
}